rem do not remove spaces between lines of text or you will break the loader thanks!
Title CTC ModPack Factorio Loader
color 12

rem set to skipbegincreditsyes to skip same with skipendcreditsno set to skipendcredityes to skip
goto skipbegincreditsno
rem ... goto skipendcreditsno currently broken working on solution ...

goto welcomescreenyes

rem setting to no will speed up load process for launcher
goto batchemuloadsyes

rem this is not currently working will fix soon set to yes if you are not using steam, run the launcher then edit the customspath.config that will generate
goto setfactoriopathno